/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin:0;
	padding:0;
}

header {
width:100%;
height:60px;
border-bottom:1px solid #EEE;
}

.fri_user_page {
	width:100%;
	height:300px;
}

.fri_user_page_image {

width:100px;
height: 100px;
margin:0 auto;

}
.fri_user_page_image img {
	width: 100%;
	height:auto;
	border-radius: 50%;
}

.score_button_1 {
	width:100px;
	height:50px;
	background-color:#EE4256;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.score_button_2 {
	width:100px;
	height:50px;
	background-color:#FCECA6;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.score_button_3 {
	width:100px;
	height:50px;
	background-color:#00A4DE;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.score_button_4 {
	width:100px;
	height:50px;
	background-color:#AEEAD8;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}






.friend_list li {
	list-style: none;
	border-bottom:1px solid #EEE;
	height:50px;
	width:100%;
	overflow: hideen;
	position: absolute;
	padding-top:10px;
	padding-left:10px;
	padding-right:30px;
}

.profile_image img {
	width:40px;
	height:40px;
	border-radius: 50%;
	margin: 10px;
}

.profile_image_friend img {
	width:40px;
	height:40px;
	border-radius: 50%;
	float: left;
	border:1px solid #EEE;
}

.profile_name {
text-decoration: none;
margin-left: 10px;
position: relative;
top:10px;
}

.profile_score {
	position: absolute;
	top:20px;
	right:60px;
}


.head_menu {
	position: absolute;
	top:20px;
	right:20px;
}
.follow {
	background-color:#FF7D7C !important;
}

.follow span:before{
	content: "Following" !important;
	color:#FFF !important;
}

.unfollow {
	background-color:#FFF !important;

}

.unfollow  span:before{
	content: "Follow" !important;
	color:#ccc !important;
	
}

.follow-btn {
}
.follow-btn span {
}

.follow-btn span:before{
	content: "Follow";
	color:#ccc;
line-height:2.6em;
font-size:28px;

}


.following-btn {
}

.following-btn span {
}

.following-btn span:before{
	content: "Following";
	color:#ccc;
line-height:2.6em;
font-size:28px;
}