/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin:0;
	padding:0;
	text-decoration: none;
}

header {
width:100%;
height:60px;
border-bottom:1px solid #EEE;
}


.lovemessage_box {
width:100%;
height:auto;
padding-bottom: 10px;
margin-bottom: 20px;
border-bottom:1px solid #EEE;
background-color:#F0D6DE;
position: relative;
top:-72px;
}

.lovemessage_box h3 {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
color:#EE4256;
}

.lovemessage_box p {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px;
}
.profile_edit {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color:  #EEE;
	color: #FFF;
	border-radius: 4px;
	margin-right:10px;
}

.profile_logout { 

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color:  #EEE;
	color: #FFF;
	border-radius: 4px;

 }

.about-u-select-show {

position: relative;
top:-30px;
}
.about-u-select-show ul {
	display: flex;
  flex-wrap: wrap;
}
.about-u-select-show li {
	flex-grow: 1;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	list-style: none;
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 20px;
	font-size:20px;
}

.poll_1 {
	color:#333;
}

.poll_1_checked {

	background-color:#EE4256;
	color:#FFF;

}

.poll_2 {
	color:#333;
	
}

.poll_2_checked {

	background-color:#FCECA6;
	color:#FFF;
}

.poll_3 {
	color:#333;
	
}

.poll_3_checked {

	background-color:#00A4DE;
	color:#FFF;
}

.poll_4 {
	color:#333;
	
}

.poll_4_checked {

	background-color:#AEEAD8;
	color:#FFF;
}

.mese {
	position: relative;
	top: 20px;
	left: 20px;
	color:#FFF;
}


.love_data {
	width:100%;
	height:80px;
	background-color:#EE4256;
	color:#FFF;
	display: overflow;
}
.love_data h4{
position: relative;
top:0;
}

.love_data_ava {
	width:60px;
	height:60px;
	float: left;
	margin-left: 10px;
}
.love_data_ava img {
	width:100%;
	border-radius: 50%;
	margin-top: 10px;
	height:auto;
}

.fri_user_page {
	width:100%;
	height:200px;
	border-bottom:1px solid #EEE;
}

.fri_user_page_image {
padding-top: 20px;
width:100px;
height: 100px;
margin:0 auto;
}

.fri_user_page_username {
	margin-top: 20px;
	text-align: center;

}

.fri_user_page_image img {
	width: 100%;
border:1px solid #EEE;
	height:auto;
	border-radius: 50%;
}

.score_button_1 {
	width:100px;
	height:50px;
	background-color:#EE4256;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.score_button_2 {
	width:100px;
	height:50px;
	background-color:#FCECA6;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.score_button_3 {
	width:100px;
	height:50px;
	background-color:#00A4DE;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.score_button_4 {
	width:100px;
	height:50px;
	background-color:#AEEAD8;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.score_button_0 {
	width:100px;
	height:50px;
	background-color:#eee;
	color:#FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 7px;
	border-radius: 5px;
}






.friend_list li {
	list-style: none;
	border-bottom:1px solid #EEE;
	height:50px;
	width:100%;
	overflow: hideen;
	padding-top:10px;
	padding-left:10px;
	padding-right:30px;

}

.profile_image img {
	width:40px;
	height:40px;
	border-radius: 50%;
	margin: 10px;
}

.profile_image_friend img {
	width:40px;
	height:40px;
	border-radius: 50%;
	float: left;
	border:1px solid #EEE;
}

.profile_name {
text-decoration: none;
left: 10px;
position: relative;
top:5px;
}


.profile_name_id {
text-decoration: none;
left: 10px;
position: relative;
top:2px;
font-size:10px ;
}


.profile_score {
float:right;
position: relative;
top:-25px;
right:20px;
}


.head_menu {
	position: absolute;
	top:20px;
	right:20px;
}
.follow {
	background-color:#FF7D7C !important;
}

.follow span:before{
	content: "Following" !important;
	color:#FFF !important;
}

.unfollow {
	background-color:#ddd !important;

}

.unfollow  span:before{
	content: "Follow" !important;
	color:#FFF !important;
}

.follow-btn {
	position: relative;
	top:-190px;
		padding-top: 13px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	background-color: #ddd;
	border-radius: 6px;
	margin-left: 20px;

}
.follow-btn {

}
.follow-btn span {
}

.follow-btn span:before{
	content: "Follow";
	color:#FFF;
line-height:2.6em;
font-size:20px;

}


.following-btn {
	position: relative;
	top:-190px;
	padding-top: 13px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	background-color: #FF7D7C;
	border-radius: 6px;
	margin-left: 20px;

}

.following-btn span {
}

.following-btn span:before{
	content: "Following";
	color:#FFF;
line-height:2.6em;
font-size:20px;
}